@use "../abstracts" as *;
.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: $button-text-transform;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;

  color: $button-color;
  background-color: $button-background;

  transition:
    color 275ms ease,
    background-color 275ms ease;

  @include text-role(body);

  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus-visible) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="outline"] {
    background-color: $button-outline-background;
    color: $button-outline-color;
    outline: 3px solid $clr-focus;
    outline-offset: 3px;
    &:is(:hover, :focus-visible) {
      background-color: $button-outline-background-hover;
      color: $button-outline-color-hover;
    }
  }
}
