@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;
$enable-media-query-dark-mode: true;

// Contextual
$color-text-default: $clr-text;
$color-background-default: $clr-background;
$color-text-interactive-default: $clr-action;
$color-text-interactive-hover: $clr-action-hover;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: $size-2;
$border-radius-2: $size-4;

$box-shadow-1:
  0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018),
  0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2:
  0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024),
  0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3:
  0px 6px 5px rgb(0, 0, 0, 0.02),
  0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4:
  0px 6px 5px rgb(0, 0, 0, 0.03),
  0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5:
  0px 6px 5px rgb(0, 0, 0, 0.04),
  0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// body
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-color-default: $color-text-default;
$heading-text-transform: uppercase;

$heading-1-color: $heading-color-default;
$heading-2-color: $heading-color-default;
$heading-3-color: $heading-color-default;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-min-margin-inline-small: $size-5;
$container-min-margin-inline-medium: $size-8;
$container-min-margin-inline-large: $size-10;
$container-max-width: 70rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

// navbar

$navbar-background-color: $color-background-default;
$navbar-color: $color-text-default;
$navbar-block-padding: (
  small: $size-8,
  large: $size-6,
);
$navbar-bottom-border: 1px solid $clr-border;
$navbar-margin: 0;

// navbar links

$navbar-link-color: $navbar-color;
$navbar-link-color-hover: $clr-action;
$navbar-link-gap: $size-9;
$navbar-link-text-decoration: none;
$navbar-link-padding-block: (
  small: $size-3,
  large: 0rem,
);
$navbar-actions-padding-block: (
  small: $size-3 * 2,
  large: 0rem,
);
$navbar-link-bottom-border: $navbar-bottom-border;
$navbar-link-background-color: $navbar-background-color;
$navbar-link-background-color-hover: $navbar-link-background-color;

// navbar toggle

$navbar-toggle-icon-size: $size-4;
$navbar-toggle-padding: $size-2;
$navbar-toggle-color: $navbar-color;
$navbar-toggle-background: transparent;
$navbar-toggle-border: 1px solid $clr-border;
$navbar-toggle-border-radius: $border-radius-1;

$navbar-toggle-color-hover: $navbar-link-color-hover;
$navbar-toggle-background-hover: $navbar-link-background-color-hover;

// site footer
$footer-background-color: $color-background-default;
$footer-text-color: $color-text-default;
$footer-link-color: $footer-text-color;
$footer-link-color-hover: $footer-text-color;
$footer-link-text-decoration: none;

// buttons
$button-text-transform: uppercase;
$button-padding: 0.75em 2em;
$button-border: 0;
$button-border-radius: $border-radius-1;
$button-color: $body-text-color;
$button-background: $body-background-color;

$button-primary-color: $clr-on-action;
$button-primary-background: $clr-action;
$button-primary-color-hover: $clr-on-action;
$button-primary-background-hover: $clr-action-hover;
$button-outline-color: $clr-action;
$button-outline-background: $color-background-default;
$button-outline-color-hover: $clr-on-action;
$button-outline-background-hover: $clr-action;

// cards
$card-flow-spacing: $size-2;
$card-padding: $size-8;
$card-shadow: $box-shadow-1;
$card-border-radius: $border-radius-2;
$card-background-default: $clr-surface;
$card-color-default: $body-text-color;
$card-heading-color-default: $card-color-default;

// forms
