@font-face {
  font-family: "DejaVu Sans";
  src:
    url("/fonts/dejavusans-webfont.woff2") format("woff2"),
    url("/fonts/dejavusans-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DejaVu Sans";
  src:
    url("/fonts/dejavusans-bold-webfont.woff2") format("woff2"),
    url("/fonts/dejavusans-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
